<ion-header class="header">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Beam Distribution
    </ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>

  <!--------------------- CALIBRACION -------------------------->
  <ion-list>
    <ion-item class="choose_item">
      <ion-label>Choose calibration</ion-label>

        <ion-select interface="popover" placeholder="Select Calibration" [(ngModel)]="SelectedCalibration">
          <ion-select-option *ngFor="let calibration of calibrations" [value]="calibration">{{calibration.name}}</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-list>

  &nbsp;<ion-button *ngIf="!CalculatingDistance" (click)="DisplayIf($ev)">
    Set coordinates
  </ion-button>
  &nbsp;<ion-button *ngIf="CalculatingDistance" (click)="DisplayIf($ev)">
    Save
  </ion-button>
  

  <!--------------------- DISTANCIAS --------------------->
  <ion-card *ngIf="CalculatingDistance">
    <p></p>
    &nbsp;&nbsp;&nbsp;<strong>
      X axis must be 1 cm.
      &nbsp;Y axis must be 2 cm.
    </strong>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" size="small" (click)="SetOrigincoord()">
            <ion-icon  name="info"></ion-icon>
            Set origin
          </ion-button>
        </ion-col>
        <ion-col>
          <div>
            <p></p>
            &nbsp;&nbsp;&nbsp;<strong>Origin:</strong> {{this.coords0}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" size="small" (click)="SetXcoord()">
            <ion-icon slot="start" name="info"></ion-icon>
            Set X coord
          </ion-button>
        </ion-col>
        <ion-col>
          <div>
            <p></p>
            &nbsp;&nbsp;&nbsp;<strong>X Axis:</strong> {{this.coordsX}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" size="small" (click)="SetYcoord()">
            <ion-icon slot="start" name="info"></ion-icon>
            Set Y coord
          </ion-button>
        </ion-col>
        <ion-col>
          <div>
            <p></p>
            &nbsp;&nbsp;&nbsp;<strong>Y Axis:</strong> {{coordsY}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" size="small" (click)="SetDatacoord()">
            <ion-icon slot="start" name="info"></ion-icon>
            Set Point
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="full" size="small" (click)="ClearDatacoord()">
            <ion-icon slot="start" name="info"></ion-icon>
            Clear Point
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" size="small" (click)="SetZero()">
            Set Zero
          </ion-button>
          <p></p>
          <div>
            <strong>Zero points:</strong> {{this.ZeroLength}}
          </div>
        </ion-col>
  
        <ion-col>
          <ion-button expand="full" size="small" (click)="ClearZero()">
            Clear Zero
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" size="small" (click)="DistanceCalculusPrueba()">
            <ion-icon slot="start" name="info"></ion-icon>
            Calculate
          </ion-button>

          <div>
            <strong>Distance (mm): </strong> {{distance}}  &#177; {{error_distance}}
            <!-- <strong>Error_Distance: </strong> {{error_distance}} -->
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-card>


  <!--------------------- COMPONENTE ---------------------->
  <app-canvas-draw #CanvasComponent *ngIf="!CropImage"></app-canvas-draw>


  <!--------------------- CROP IMAGE ---------------------->
  <div *ngIf="CropImage">
    <!-- <ion-card> -->
      <!-- <ion-button expand="full" (click)="captureImage()">
        Capture Image
      </ion-button> -->
      <image-cropper
      [imageURL]="myImage"
      [maintainAspectRatio]="true"
      [aspectRatio]="1/1"
      format="png"
      [roundCropper]="true"
      (imageCropped)="imageCropped($event)">
      </image-cropper>
  
    <!-- </ion-card> -->
  
    <ion-button (click)=Distribution()>
      Calculate Distribution
    </ion-button>
    <p></p>

  </div>
  
  <!------------------------- PLOT ----------------------------->
  <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
  <div *ngIf="ExistsChart"> 
    &nbsp;&nbsp;&nbsp; y = y<sub>0</sub> + ( A/(2&sigma;&radic;<span style="text-decoration: overline">&pi;/2</span>) )*exp( -2*( (x-&mu;)/2&sigma; )<sup> 2</sup> <br>
    <br>
    &nbsp;&nbsp;&nbsp; y<sub>C</sub> = y<sub>0</sub> + A/(2&sigma;&radic;<span style="text-decoration: overline">&pi;/2</span>) 
  </div>

  <!-------------- Y WIDTH PLOT -------------->
  <!-- <ion-card>
    <br>
    <span style="padding-left:20px"><strong>Y Width. RGB Mean Dose.</strong></span>
    <div class="chart-container">
      <canvas id="chart_1"></canvas>
    </div>
  </ion-card> -->
  
  <br>
  <span *ngIf="ExistsChart" style="padding-left:20px"><strong>Y Width. Mean Dose.</strong></span>
  <div class="chart-container">
    <canvas id="chart_1"></canvas>
  </div>
  
  <ion-card>
    <div *ngIf="ExistsChart"> 
      &nbsp;<strong>
        FWHM<sub>Y</sub>: {{this.FWHM_Y}} &#177; {{this.error_Gaussiana_Y.FWHM}}
        &sigma;<sub>Y</sub>: {{this.sigma_Y}} &#177; {{this.error_Gaussiana_Y.sigma}}
        &mu;<sub>Y</sub>: {{this.mu_Y}} &#177; {{this.error_Gaussiana_Y.mu}}
        &nbsp;&nbsp;y<sub>C</sub><sub>Y</sub>: {{this.yc_Y}} &#177; {{this.error_Gaussiana_Y.yc}}
        A<sub>Y</sub>: {{this.A_Y}} &#177; {{this.error_Gaussiana_Y.A}}
        y<sub>0</sub><sub>Y</sub>: {{this.y0_Y}} <br>
        &nbsp;&nbsp;R<sup>2</sup><sub>Y</sub>: {{this.R2_Y}}
      </strong>
    </div>
  </ion-card>

  <!-------------- X WIDTH PLOT -------------->
  <!-- <ion-card>
    <br>
    <span *ngIf="ExistsChart" style="padding-left:20px"><strong>X Width RGB Mean Dose.</strong></span>
    <div class="chart-container">
      <canvas id="chart_2"></canvas>
    </div>
  </ion-card> -->
  <br>
  <span *ngIf="ExistsChart" style="padding-left:20px"><strong>X Width. Mean Dose.</strong></span>
  <div class="chart-container">
    <canvas id="chart_2"></canvas>
  </div>
  <ion-card *ngIf="ExistsChart">
    <div>
      &nbsp;<strong>
        FWHM<sub>X</sub>: {{this.FWHM_X}} &#177; {{this.error_Gaussiana_X.FWHM}}
        &sigma;<sub>X</sub>: {{this.sigma_X}} &#177; {{this.error_Gaussiana_X.sigma}}
        &mu;<sub>X</sub>: {{this.mu_X}} &#177; {{this.error_Gaussiana_X.mu}}
        &nbsp;&nbsp;y<sub>C</sub><sub>X</sub>: {{this.yc_X}} &#177; {{this.error_Gaussiana_X.yc}}
        &nbsp;&nbsp;A<sub>X</sub>: {{this.A_X}} &#177; {{this.error_Gaussiana_X.A}}
        y<sub>0</sub><sub>X</sub>: {{this.y0_X}} <br>
        &nbsp;&nbsp;R<sup>2</sup><sub>X</sub>: {{this.R2_X}}
      </strong>
    </div>
  </ion-card>
  
  

  <!-- <canvas baseChart *ngIf="ExistsChart"
  [datasets]="chartData" 
  [chartType]="chartType">
  </canvas> -->
  <!-- [labels]="chartLabels" -->
  <!-- [options]="chartOptions" 
  [colors]="chartColors"
  [legend]="showLegend"  -->


</ion-content>


<!-- <ion-button (click)="resetImage()">Reset image</ion-button>
<ion-button (click)="zoomOut()">Zoom -</ion-button>
<ion-button (click)="zoomIn()">Zoom +</ion-button> -->

<!-- <ion-content>

  <ion-button expand="full" (click)="captureImage()">
    Capture Image
  </ion-button>

  <image-cropper
    [imageURL]="myImage"
    [maintainAspectRatio]="true"
    [aspectRatio]="1/1"
    format="png"
    (imageCropped)="imageCropped($event)">
  </image-cropper>

  <ion-card *ngIf="croppedImage">
    <ion-card-header>
      <ion-card-title>Cropped Image</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="croppedImage">
    </ion-card-content>
  </ion-card>


</ion-content> -->

