
<!-- <canvas id="canvas" (touchstart)="startDrawing($event)"
                    (touchend)="endDrawing()">
</canvas> -->

<canvas #imageCanvas (touchstart)="startDrawing($event)"
                       (touchend)="endDrawing()">
</canvas>

<ion-content [forceOverscroll]="false">

  
  &nbsp;<ion-button (click)="setBackground()">
    <ion-icon slot="start" name="image"></ion-icon>
    Reload image
  </ion-button>
  
  &nbsp;
  <div>
    &nbsp;<strong>Pixel:</strong> {{this.saveX}}, {{this.saveY}}
  </div>
  
  <div>
    &nbsp;<strong>RGBA:</strong> {{this.rgba}}
  </div>

  <div>
    &nbsp;<strong>RGB255:</strong> {{this.rgb255}}
  </div>
  <div>
    &nbsp;<strong>Brillo:</strong> {{this.brillo}}
  </div>

    
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" size="small" (click)="SetOrigincoord()">
          <ion-icon  name="info"></ion-icon>
          Set origin
        </ion-button>
      </ion-col>
      <ion-col>
        <div>
          <strong>Origin:</strong> {{this.coords0}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" size="small" (click)="SetXcoord()">
          <ion-icon slot="start" name="info"></ion-icon>
          Set X coord
        </ion-button>
      </ion-col>
      <ion-col>
        <div>
          <strong>X Axis:</strong> {{this.coordsX}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" size="small" (click)="SetYcoord()">
          <ion-icon slot="start" name="info"></ion-icon>
          Set Y coord
        </ion-button>
      </ion-col>
      <ion-col>
        <div>
          <strong>Y Axis:</strong> {{coordsY}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" size="small" (click)="SetDatacoord()">
          <ion-icon slot="start" name="info"></ion-icon>
          Set Data coord
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" size="small" (click)="ClearDatacoord()">
          <ion-icon slot="start" name="info"></ion-icon>
          Clear Data coord
        </ion-button>
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="DistanceCalculus()">
          <ion-icon slot="start" name="info"></ion-icon>
          Calculate
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <div>
    <strong>Distance: </strong> {{distance}}
  </div>
  <p></p> -->
  
</ion-content>


