<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row class="grid">
      <ion-col>
        <ion-item routerLink="/tabs/tab3/Dosimetry" class="dos_item">
          Dosimetry
        </ion-item>
      </ion-col>
        
      <ion-col>
        <ion-item routerLink="/tabs/tab3/BeamDistribution" class="dos_item">
          Beam Distribution
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
 

  <p></p>

  <app-canvas-draw #CanvasComponent></app-canvas-draw>
  
 
</ion-content>
