<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item routerLink="/tabs/tab4">
          Dosimetry
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item routerLink="/tabs/beam-distribution">
          Beam Distribution
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
 

  <p></p>

  <app-canvas-draw #CanvasComponent></app-canvas-draw>
  <p>finn</p>
  <ion-button (click)="setBackground()">
    <ion-icon slot="start" name="image"></ion-icon>
    holaaa
  </ion-button>
  
 
</ion-content>
